:root {
    --primary-color: None;
    --secondary-color: None;
    --tertiary-color: None;
    --primary-color-oposite: None;
    --secondary-color-oposite: None;
    --tertiary-color-oposite: None;
    --primary-font: 'Abril Fatface';
    --secondary-font: 'Roboto';
}

[color-theme='light'] {
    --primary-color: #B6B6B6;
    --secondary-color: #D2D1D2;
    --tertiary-color: #E8E8E8;

    --primary-color-oposite: #252525;
    --secondary-color-oposite: #2D2D30;
    --tertiary-color-oposite: #3E3E42;
}

[color-theme='dark'] {
    --primary-color: #252525;
    --secondary-color: #2D2D30;
    --tertiary-color: #3E3E42;

    --primary-color-oposite: #B6B6B6;
    --secondary-color-oposite: #D2D1D2;
    --tertiary-color-oposite: #E8E8E8;
}

.App {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

* {
    transition:
        color 0.3s ease,
        background-color 0.3s ease,
        border 0.3s ease;
}