* {
    transition:
        color 0.3s ease,
        background-color 0.3s ease,
        border 0.3s ease;
}

main {
    background-color: var(--secondary-color);
    width: 100%;
    min-height: calc(100vh - 108px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 108px;
    padding-bottom: 40px;
    overflow: auto;
}

.section-main {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 100%;
    max-width: 60vw;
    padding: 15px;
    margin-top: 10px;
}

.section-main-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--tertiary-color-oposite);
    margin-bottom: 20px;
}

.section-title {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 40px;
    margin-left: 20px;
    transition: all 0.05s ease;
}

.events {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.events:has(.main:hover) .main:not(:hover) {
    scale: 0.95;
    opacity: .7;
}