header {
    background-color: var(--primary-color);
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 5px var(--tertiary-color);
    position: fixed;
    z-index: 999;
    top: 0;
    left :0;
    transition: top 0.3s ease;
}
.logo{
    height: 200px;
    width: auto;
}
.btn-header {
    margin:0;
    padding:0;
    background-color: transparent;
    scale: 1;
    transition: scale 0.3s ease;
    border: None;
    cursor: pointer;
}
.btn-header:hover {
    scale: 1.1;
}
.titulo{
    font-family: var(--primary-font);
    color:var(--tertiary-color-oposite);
    font-size: 50px;
    font-weight: bold;
}
.icon-header{
    color:var(--tertiary-color-oposite);
}