.section-publisher {
    position: fixed;
    z-index: 99999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vh;
    max-height: 60vh;
    max-width: 60vw;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgb(0 0 0 / 40%);
    backdrop-filter: blur(33px);
    background-color: var(--primary-color);
    padding: 10px;
}

[in-screen='false'] {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

[in-screen='false'] {
    left: -150%;
}

.icon-x {
    color: var(--tertiary-color-oposite);
}

.header-publisher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-x-publisher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    scale: 1;
    transition: scale 0.3s ease, background-color 0.3s ease;
    border: None;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.btn-x-publisher:hover {
    scale: 1.08;
    background-color: var(--secondary-color);
}

.main-publisher{
    width: 100%;
    height: calc(100% - 45px);
    border: solid 5px var(--primary-color-oposite);
}

.warning-text{
    color: white;
    font-size: 40px;
}


@media (max-width:760px) {
    .section-publisher {
        width: 90vw;
        height: 90vh;
        max-height: 100vh;
        max-width: 100vw;
    }
}