.container {
    background: linear-gradient(to top right,var(--primary-color-oposite), var(--tertiary-color-oposite));
    border-radius: 10px;
    height: auto;
    width: auto;
    min-width: 200px;
    padding: 15px 30px 15px 30px;
}

.name{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    font-family: var(--secondary-font);
    font-size: 30px;
    font-weight: bold;
    color:var(--primary-color);
    opacity: 0.7;
}


@media (max-width:760px) {
    .container{
        min-width: 150px;
        padding: 10px 25px 10px 25px;
    }
    .name{
        font-size: 20px;
    }
}