:root{
    --opacity-selected:None;
    --scale-selected: None;
}
[selected-item='true']{
    --opacity-selected: 1;
    --scale-selected: 1;
}
[selected-item='false']{
    --opacity-selected: 0.7;
    --scale-selected: 0.9;
}

.scrollRow {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scrollRow--listarea {
    overflow-x: hidden;
    margin: 0px 10px;
}

.scrollRow--list{
    transition: margin 0.2s ease;
}

.item--list {
    white-space: nowrap;
}

.item {
    display: inline-block;
    scale: var(--scale-selected);
    opacity: var(--opacity-selected);
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease;
}

.item:hover{
    scale: 1;
    opacity: 1;
}

.teste {
    height: 200px;
    width: 200px;
    background-color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconeScrollLeft,
.iconeScrollRight {
    color: var(--tertiary-color-oposite);
}

.scrollRow-left,
.scrollRow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    width: 20px;
    scale: 0.9;
    opacity: 0;
    transition: opacity 0.2s ease, scale 0.2s ease;
    cursor:pointer;
}

.scrollRow:hover .scrollRow-left,
.scrollRow:hover .scrollRow-right {
    opacity: 1;
}

.scrollRow-left:hover{
    scale: 1;
}